.navbar-area-style{
    padding: 1.5rem 5.3125rem 1.5rem 5.3125rem;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: $primary;
    font-weight: bold;
}

.logo-family{
    font-size: 1.5rem;
    font-family: 'Raleway';
    
}

.nav-color{
    span{
        color:$dark-b;
    }
}

.navbar-light .navbar-nav .nav-link{
    color: $dark-b;
}